header {
  background-color: #333;
  padding: 10px;
  height: 70px;
}

nav {
  display: flex;
  justify-content: center;
}

.link {
  position: relative;
  text-decoration: none;
  color: #fff;
  padding: 0 10px;
  margin: 0 5px;
  font-size: 24px;
}

.link:hover {
  color: #ffd700;
}

.active {
  font-weight: bold;
}

.active::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #ffd700;
}
.search_error {
  color: red;
  display: block;

  padding: 20px;
  font-weight: bold;
  font-size: 34px;
}
