.cast_list {
  list-style-type: none;
  padding: 20px;
}

.cast_item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.cast_item img {
  width: 100px;
  height: auto;
  margin-right: 20px;
  border-radius: 50%;
}

.cast_title {
  margin: 0 0 5px 0;
}
